.light {
  --border: #ccc;
  --background: #fff;
  --nav-background: dodgerblue;
  --text: rgba(33,30, 30, 0.688);
  --title: black;
}
.dark{
  --border: #a56bd7;
  --background: #252525;
  --nav-background: #28282b;
  --text: #dfdfdf;
  --title: #8e60b7;
}
.App {
  text-align: center;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: var(--background);
  min-height: 100vh;
}

